:root {
  --color-theme: #19969B;
  --color-accent: #45B4AB;
  --xgreen: #C5D800;
  --x-tosca: rgb(159, 247, 250);
  --x-tosca-dark: #078285;
  --xgrey: #F9F9F9;
  --x-black: rgb(43, 43, 43);
  --color-sidebar: var(--color-theme);
  --color-sidebar2: var(--color-accent);
  --color-sidebar3: var(--color-theme);
  --radius: 50px;
  --x-green-dark: rgb(0, 97, 24);
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.x-grey {
  background: var(--xgrey) !important;
}

.x-green {
  background: var(--xgreen) !important;
}

.x-white {
  background: white !important;
}

.x-white-text {
  color: white !important;
}

.x-tosca {
  background: var(--x-tosca) !important;
}

.x-tosca-dark {
  background: var(--x-tosca-dark) !important;
}

.x-hide {
  display: none;
}

.x-hover {
  padding: 10px;
  transition: 0.6s ease-out;
  border-radius: 50%;
  margin: 2px !important;
}

.x-section-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 40px;
  margin-top: 10px;
}

.x-section-desc {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  margin-top: -50px;
  margin-bottom: 50px;
}

input,
textarea {
  border-radius: 5px !important;
}

input :focus,
textarea :focus {
  outline: 1px solid var(--color-theme) !important;
}

input[type=radio],
textarea[type=radio] {
  border-radius: 5px !important;
  max-width: 20px !important;
  max-height: 20px !important;
}

input[placeholder],
textarea[placeholder] {
  font-size: 13px !important;
  color: #686868 !important;
}

textarea {
  border: 1px solid #e4e4e4 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  border-radius: 50px !important;
  padding-left: 20px !important;
  background-color: #ffffff !important;
}

.uk-button,
.uk-button-default,
.x-button-blue,
.x-button-green,
.x-button-red {
  background: var(--color-theme) !important;
  border-radius: var(--radius) !important;
  font-weight: bold !important;
  color: #ffffff;
  transition: 0.4s ease-out;
  border: 2px solid var(--color-theme) !important;
}

.uk-button:hover,
.uk-button-default:hover,
.x-button-blue:hover,
.x-button-green:hover,
.x-button-red:hover {
  color: var(--color-theme) !important;
  background: transparent !important;
  cursor: pointer;
}

.x-button-blue {
  background: #1E87F0 !important;
  color: white !important;
  border: 2px solid #1E87F0 !important;
  border-radius: 5px !important;
  min-width: 150px;
}

.x-button-blue:hover {
  color: #1E87F0 !important;
  background: transparent !important;
}

.x-button-red {
  background: #f01e52 !important;
  color: white !important;
  border: 2px solid #f01e52 !important;
  border-radius: 5px !important;
  min-width: 150px;
}

.x-button-red:hover {
  color: #f01e52 !important;
  background: transparent !important;
}

.x-button-green {
  background: var(--x-green-dark) !important;
  color: white !important;
  border: 2px solid var(--x-green-dark) !important;
  border-radius: 5px !important;
  min-width: 150px;
}

.x-button-green:hover {
  color: var(--x-green-dark) !important;
  background: transparent !important;
}

.x-button-white {
  background: transparent !important;
  color: white !important;
  font-weight: bold !important;
  transition: 0.2s ease-in;
  border: 2px solid white !important;
}

.x-button-white:hover {
  background: var(--color-theme) !important;
  color: white !important;
}

.x-button-blue-trans {
  background: transparent !important;
  color: #1E87F0 !important;
  font-weight: bold !important;
  transition: 0.2s ease-in;
  border: 2px solid #1E87F0 !important;
  border-radius: 5px !important;
  min-width: 150px;
}

.x-button-blue-trans:hover {
  background: #1E87F0 !important;
  color: white !important;
}

.x-button-green-trans {
  background: transparent !important;
  color: var(--x-green-dark) !important;
  font-weight: bold !important;
  transition: 0.2s ease-in;
  border: 2px solid var(--x-green-dark) !important;
  border-radius: 5px !important;
  min-width: 150px;
}

.x-button-green-trans:hover {
  background: var(--x-green-dark) !important;
  color: white !important;
}

[uk-dropdown] {
  background: var(--color-sidebar);
  font-size: 12px !important;
  text-align: left;
  border-radius: 10px;
}

[uk-dropdown] li:hover {
  background-color: var(--color-accent) !important;
}

[uk-dropdown] li {
  padding-left: 10px !important;
  transition: 0.4s ease-in-out;
}

.uk-card-header {
  border-radius: 10px 10px 0 0 !important;
}

.uk-pagination li {
  padding: 1.8px 7px !important;
}

.uk-pagination li.uk-active {
  background-color: var(--color-theme);
  border-radius: 5px;
}

.uk-pagination li.uk-active a,
.uk-pagination li.uk-active span {
  color: #ffffff !important;
}

.x-sub-nav a {
  border-radius: 50px;
  transition: 0.4s;
  padding: 10px 20px !important;
  width: 250px;
}

.x-sub-nav a:hover {
  background: var(--color-theme) !important;
  color: white !important;
  font-weight: bold;
}

.x-meta {
  font-size: 14px;
  line-height: 19px;
  color: var(--x-grey);
}

.note-btn {
  border-radius: 2px !important;
  margin: 0 2px !important;
}

.note-btn-primary {
  color: #4d4d4d !important;
  padding: 5px 10px !important;
}

.note-editor .note-toolbar .note-style .dropdown-style h1 {
  font-size: 2.2rem !important;
}

.x-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
}

.x-card .x-card-item {
  overflow: hidden;
  margin: 20px 10px;
  width: 210px;
  min-width: 210px;
  height: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  transition: 0.4 ease-in;
  display: flex;
  align-items: center;
  transition: 0.4s ease-out;
}

.x-card .x-card-item:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  background: white;
}

.x-card .x-card-item img {
  max-width: 100px !important;
  margin: 20px auto;
  margin-top: -75px;
}

.x-card .x-card-item p {
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding: 5px 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}

.x-card .x-card-item .x-action {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.x-card .x-card-item .x-action div {
  width: 50%;
  padding: 10px;
  transition: 0.4s ease-out;
}

.x-card .x-card-item .x-action div:hover {
  cursor: pointer;
}

.x-card .x-card-item .x-action .main-action {
  background: var(--x-tosca);
  border-top-left-radius: 30px;
  color: white;
  font-weight: bold;
}

.x-card .x-card-item .x-action .main-action:hover {
  background: var(--color-theme);
  color: white;
}

.uk-divider-icon {
  max-width: 300px;
  margin: 50px auto 0 auto !important;
}

a.uk-button {
  border-radius: 50px !important;
}

textarea:focus,
input:focus {
  outline: none;
}

li {
  list-style: none;
}

.cek {
  border: 1px solid red !important;
}

.cekwhite {
  border: 1px solid white !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #d7d8d8;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 20px;
}

#xpanel {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

#xpanel a {
  text-decoration: none;
}

#xpanel #menu-mobile a,
#xpanel #top-nav a {
  color: #ffffff !important;
}

#xpanel #menu-mobile ul.uk-nav-sub,
#xpanel #top-nav ul.uk-nav-sub {
  padding-left: 0px !important;
}

#xpanel #menu-mobile ul.uk-nav-sub li,
#xpanel #top-nav ul.uk-nav-sub li {
  padding: 5px 20px !important;
  margin: 0px !important;
}

#xpanel #sidebar {
  height: 100%;
  width: 220px;
  max-width: 220px;
  background-color: var(--color-sidebar);
  color: white;
  transition: 0.4s ease-in-out;
}

#xpanel #sidebar a {
  color: #ffffff !important;
}

#xpanel #sidebar-title {
  padding: 15px 10px;
  text-transform: uppercase;
  font-size: 12px;
}

#xpanel #sidebar-menu {
  overflow: auto;
  max-height: 100vh;
  padding: 0;
  padding-bottom: 100px;
  overflow-x: hidden;
}

#xpanel #sidebar-menu .menu-item {
  width: 100%;
  cursor: pointer;
  transition: 0.4s ease-out;
  font-size: 12px;
  margin: 0 !important;
  font-weight: 600;
  justify-content: center;
}

#xpanel #sidebar-menu .menu-item.active,
#xpanel #sidebar-menu .menu-item:hover {
  background: var(--color-sidebar2);
}

#xpanel #sidebar-menu .menu-item a {
  padding: 10px 10px 10px 15px;
  min-width: 180px;
}

#xpanel #sidebar-menu .menu-item .uk-nav-sub {
  font-weight: normal;
}

#xpanel #sidebar-menu .menu-item .uk-nav-sub li > a {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

#xpanel #sidebar-menu .menu-item .uk-nav-sub li:hover {
  text-decoration: underline;
}

#xpanel #content-area {
  padding: 15px 10px;
  overflow: auto;
  height: 100vh;
  padding-bottom: 100px;
}

.uk-accordion-title {
  font-size: 13px !important;
  margin: 0 !important;
}

label {
  font-size: 13px !important;
}

input,
select,
textarea {
  margin: 7px 0 !important;
}

.x-badge {
  font-size: 9px;
  background: orange;
  font-weight: bold;
  padding: 7px;
  position: absolute;
  top: 7px;
  right: -7px;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  display: grid;
  place-content: center;
}

[uk-icon] {
  margin: 3px 4px !important;
}

.ql-toolbar button {
  background: var(--xgrey) !important;
  border: none !important;
  margin: 5px !important;
  border-radius: 5px !important;
}

.ql-toolbar button:hover {
  background: #f7f7f7 !important;
  color: white !important;
}

tbody tr {
  cursor: pointer;
}

.menu-icon {
  align-items: center;
  display: flex;
}

div.uk-first-column {
  padding: 0 !important;
}

.x-list {
  padding: 20px 30px !important;
}

.x-transition-slow {
  transition: 1s ease-in-out;
}

.x-transition-medium {
  transition: 0.6s ease-in-out;
}

.x-transition-fast {
  transition: 0.4s ease-in-out;
}

.x-transition-delay-2 {
  transition-delay: 0.2s;
}

.x-transition-delay-4 {
  transition-delay: 0.4s;
}

.x-transition-delay-6 {
  transition-delay: 0.6s;
}

.x-transition-delay-8 {
  transition-delay: 0.8s;
}

.x-transition-delay-10 {
  transition-delay: 1s;
}

.x-radius5 {
  border-radius: 5px;
}

.x-radius10 {
  border-radius: 10px;
}

.x-padding-5 {
  padding: 5px !important;
}

.x-padding-10 {
  padding: 10px !important;
}

.x-padding-15 {
  padding: 15px !important;
}

.x-padding-20 {
  padding: 20px !important;
}

.x-padding-30 {
  padding: 30px !important;
}

.x-padding-50 {
  padding: 50px !important;
}

.x-margin-auto {
  margin: 0 auto !important;
}

.x-margin-5 {
  margin: 5px !important;
}

.x-margin-10 {
  margin: 10px !important;
}

.x-margin-15 {
  margin: 15px !important;
}

.x-margin-20 {
  margin: 20px !important;
}

.x-margin-30 {
  margin: 30px !important;
}

.x-margin-50 {
  margin: 50px !important;
}

.x-space-5 {
  height: 5px !important;
}

.x-space-10 {
  height: 10px !important;
}

.x-space-15 {
  height: 15px !important;
}

.x-space-20 {
  height: 20px !important;
}

.x-space-30 {
  height: 30px !important;
}

.x-space-50 {
  height: 50px !important;
}

.x-space-100 {
  height: 50px !important;
}

.x-col-width-50 {
  width: 50px !important;
}

.x-col-width-100 {
  width: 100px !important;
}

.x-col-width-150 {
  width: 150px !important;
}

.x-col-width-200 {
  width: 200px !important;
}

.x-col-width-250 {
  width: 250px !important;
}

.x-col-width-300 {
  width: 300px !important;
}

.x-col-width-400 {
  width: 400px !important;
}

.x-col-width-500 {
  width: 500px !important;
}

.x-col-width-600 {
  width: 600px !important;
}

.x-color-theme {
  background-color: var(--color-theme) !important;
}

.x-color-theme-text {
  color: var(--color-theme) !important;
}

.x-color-accent {
  background-color: var(--color-accent) !important;
}

.x-color-accent-text {
  color: var(--color-accent) !important;
}

.x-color-sidebar {
  background: var(--color-sidebar) !important;
}

.x-color-sidebar-text {
  color: var(--color-sidebar) !important;
}

.x-color-sidebar-2 {
  background-color: var(--color-sidebar2) !important;
}

.x-color-sidebar-2-text {
  color: var(--color-sidebar2) !important;
}

.x-font-8 {
  font-size: 8px !important;
}

.x-font-10 {
  font-size: 10px !important;
}

.x-font-12 {
  font-size: 12px !important;
}

.x-font-14 {
  font-size: 14px !important;
}

.x-font-16 {
  font-size: 16px !important;
}

.x-font-18 {
  font-size: 18px !important;
}

.x-font-24 {
  font-size: 24px !important;
}

.x-font-32 {
  font-size: 32px !important;
}

.x-font-64 {
  font-size: 64px !important;
}

.x-cursor {
  cursor: pointer;
}

.x-nomargin {
  margin: 0 !important;
}

.x-nopadding {
  padding: 0 !important;
}

.x-cursor {
  cursor: pointer;
}

.x-align-start {
  align-items: flex-start;
}

.x-align-center {
  align-items: center;
}

.x-align-end {
  align-items: flex-end;
}

.x-justify-start {
  justify-content: start;
}

.x-justify-center {
  justify-content: center;
}

.x-justify-end {
  justify-content: end;
}

.x-fullheight {
  height: 100vh;
}

.x-fullwidth {
  width: 100vw;
}

.x-space-between {
  display: flex !important;
  justify-content: space-between !important;
}

.x-icon {
  display: inline-block;
  margin-right: 15px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.x-icon-18 {
  height: 18px;
  width: 18px;
}

.x-icon-24 {
  height: 24px;
  width: 24px;
}

.x-icon-32 {
  height: 32px;
  width: 32px;
}

.x-icon-48 {
  height: 48px;
  width: 48px;
}

.x-icon-64 {
  height: 64px;
  width: 64px;
}

.x-icon-96 {
  height: 96px;
  width: 96px;
}

.x-icon-dashboard {
  background-image: url(/images/dashboad.svg?80535a957bc5e1b39683b9a675a780dd);
}

.x-icon-masterdata {
  background-image: url(/images/masterdata.svg?ff17d402c936abfc6161ba4ab4746151);
}

.x-icon-proses {
  background-image: url(/images/proses.svg?bdcd6cb47988977ca8849fb28d88333f);
}

.x-icon-laporan {
  background-image: url(/images/laporan.svg?a3437284052e401d60c55b724436a8df);
}

.x-icon-pengaturan {
  background-image: url(/images/pengaturan.svg?db80aa09bc174203eab79bf6f27b3ccf);
}

.x-icon-user {
  background-image: url(/images/user.svg?f65fb2dca6acdd206a122384d1042c73);
}

.x-icon-menu {
  background-image: url(/images/menu.svg?0350655418baadf19509cf5b2d2a91bb);
}

.x-icon-article {
  background-image: url(/images/paper2.svg?c7711a6ed34c37215685456e9a8704a9);
}

.x-icon-product {
  background-image: url(/images/shopping-bag.svg?493faa1c8ed0037d371a23c2e1fdbb72);
}

.x-icon-page {
  background-image: url(/images/page.svg?9f4c1de4dc5e147ce97f584b55ed1ddc);
}

#x-pagination li a {
  color: var(--color-sidebar) !important;
}

#x-pagination ul.pagination {
  display: flex !important;
  margin: 10px auto !important;
  height: 50px;
}

#x-pagination ul.pagination li {
  padding: 15px !important;
}

#x-pagination ul.pagination li.active {
  background: var(--color-sidebar2);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

#content-area a {
  color: var(--color-sidebar2) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  transition: 0.5s ease-out;
}

#table-member_paginate li:hover a,
#table-member_paginate .uk-pagination > .uk-active > * {
  color: white !important;
}

#data-table_paginate li:hover a,
#data-table_paginate .uk-pagination > .uk-active > * {
  color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.paginate_button.uk-active {
  background-color: var(--color-sidebar2) !important;
  background: var(--color-sidebar2) !important;
  border: 1px solid var(--color-sidebar2) !important;
  border-radius: 50px !important;
}

#table-member_ellipsis {
  color: var(--color-sidebar2) !important;
}

i.uk-icon-ellipsis-h::after {
  content: "...";
  color: grey !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 2px 11px 3px 10px !important;
}

#data-table {
  width: 100% !important;
}

table.dataTable {
  margin: 10px 0 !important;
}

.uk-radio:checked {
  background-color: var(--color-sidebar2) !important;
}

.title {
  color: var(--color-sidebar);
  font-weight: 500;
}

